* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  all: unset;
  cursor: pointer;
}

body {
  background-color: rgb(143, 198, 198);
}

.menubar {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: aquamarine;
  top: 0;
  z-index: 30;
}
.menubar .menu .main-con {
  border-radius: 25px;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-items: center;
  padding: 0 10px;
  margin: 5px 5px 0 0;
  position: absolute;
  top: 0;
  right: 0;
}
.menubar .menu .main-con .link {
  display: flex;
  list-style: none;
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px 16px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}
.menubar .menu .main-con .link::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 25px;
}
.menubar .menu .main-con .link:hover {
  color: black;
}
.menubar .menu .main-con .link:hover::before {
  background: linear-gradient(to bottom, #e8edec, #d2d1d3);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.1);
}
.menubar .menu .main-con .link::after {
  position: absolute;
  content: "";
  top: 65%;
  left: 10%;
  width: 80%;
  height: 3px;
  background: blue;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.menubar .menu .main-con .link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.menubar .menu .main-con .visited-link {
  color: blue;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.wrapper .page {
  display: flex;
  position: relative;
  width: 100vw;
  padding-top: 60px;
  flex-grow: 1;
  justify-content: center;
  align-content: center;
}
.wrapper .page .aboutme {
  display: flex;
  justify-content: center;
  width: 70%;
  border: 2px dashed red;
}
.wrapper .page .aboutme .profile-card {
  display: flex;
  overflow: hidden;
  position: relative;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: rotate;
  background-color: rgba(195, 121, 121, 0.604);
  background-image: radial-gradient(circle at 100% 0%, hsla(0, 0%, 100%, 0.08) 29.5%, hsla(0, 0%, 100%, 0) 30%), radial-gradient(circle at 100% 0%, hsla(0, 0%, 100%, 0.08) 39.5%, hsla(0, 0%, 100%, 0) 40%), radial-gradient(circle at 100% 0%, hsla(0, 0%, 100%, 0.08) 49.5%, hsla(0, 0%, 100%, 0) 50%);
  border-radius: 0.5em;
  box-shadow: 0 0 0 hsl(0, 0%, 80%), 0 0 0 hsl(0, 0%, 100%), -0.2rem 0 0.75rem 0 hsla(0, 0%, 0%, 0.3);
  color: hsl(0, 0%, 100%);
  width: 30rem;
  height: 15rem;
  transform: translate3d(0, 0, 0);
}
.wrapper .page .aboutme .profile-card .first-con {
  width: 30%;
}
.wrapper .page .resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.wrapper .page .resume h1 {
  display: flex;
  justify-content: center;
}
.wrapper .page .resume .line-con {
  display: flex;
  justify-content: space-between;
}
.wrapper .page .resume .main-con {
  display: flex;
  border: 1px solid;
}
.wrapper .page .resume .main-con .edu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .page .resume .main-con .first-con {
  width: 40%;
}
.wrapper .page .resume .main-con .second-con {
  width: 60%;
}
.wrapper .page .resume .main-con .second-con ul {
  margin-left: 1rem;
}
.wrapper .page .resume .main-con .second-con ul ul {
  margin-left: 1rem;
}
.wrapper .page .resume .misc-con {
  display: flex;
  flex-direction: column;
  border: 1px solid;
}
.wrapper .page .resume .misc-con .con {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.wrapper .page .resume .misc-con .con .list {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}
.wrapper .page .resume .misc-con .con .list::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: blue;
  margin-right: 5px;
}
.wrapper .page .projects {
  width: 80%;
}
.wrapper .page .projects .slide-container .container h3 {
  font-size: 0.7em;
  letter-spacing: 1.2px;
  color: #a6a6a6;
}
.wrapper .page .projects .slide-container .container input.proj-toggle {
  position: absolute;
  top: -999px;
}
.wrapper .page .projects .slide-container .container .proj-toggle:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
  transition: transform 700ms 400ms ease-out;
}
.wrapper .page .projects .slide-container .container .card-3d-wrap {
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.wrapper .page .projects .slide-container .container .card-3d-wrap .card-3d-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transition: transform 700ms 400ms ease-out;
}
.wrapper .page .projects .slide-container .container .card-3d-wrap .card-3d-wrapper .card-front, .wrapper .page .projects .slide-container .container .card-3d-wrap .card-3d-wrapper .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.07);
}
.wrapper .page .projects .slide-container .container .card-3d-wrap .card-3d-wrapper .card-back {
  transform: rotateY(180deg);
}
.wrapper .page .projects .slide-container .container .proj-wrap {
  position: relative;
  width: 100%;
  display: block;
  z-index: 1;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.wrapper .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border: 3px solid black;
  margin-top: 60px;
  padding: 0.5rem;
}
.wrapper .footer .copyright {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 30%;
}
.wrapper .footer .footer-info {
  display: flex;
}
.wrapper .footer .footer-info .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 0.5rem;
}

/* Animation */
@keyframes rotate {
  from, to {
    animation-timing-function: ease-in;
    box-shadow: 0 0 0 hsl(0, 0%, 80%), 0.1rem 0 0 hsl(0, 0%, 100%), -0.2rem 0 0.75rem 0 hsla(0, 0%, 0%, 0.3);
    transform: rotateY(-10deg);
  }
  25%, 75% {
    animation-timing-function: ease-out;
    box-shadow: 0 0 0 hsl(0, 0%, 80%), 0 0 0 hsl(0, 0%, 100%), -0.25rem -0.05rem 1rem 0.15rem hsla(0, 0%, 0%, 0.3);
    transform: rotateY(0deg);
  }
  50% {
    animation-timing-function: ease-in;
    box-shadow: -0.1rem 0 0 hsl(0, 0%, 80%), 0 0 0 hsl(0, 0%, 100%), -0.3rem -0.1rem 1.5rem 0.3rem hsla(0, 0%, 0%, 0.3);
    transform: rotateY(10deg);
  }
}/*# sourceMappingURL=App.css.map */