*{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
//all paths
$BIM-basePath: "./img/BIM/";
$CS-basePath: "./img/CS/";

.selected-main{
  width: 100%;
  height:100%;
  border-radius: 10px 10px 0 0;
  background-image: url("#{$BIM-basePath}LGA/main.jpg");
}
.img-selected{
  &:hover{
    transform: scale(1.2);
  }
}
.p1{
  cursor: pointer;
  width: 100%;
  height:100%;
  border-radius: 2px;
  background-image: url("#{$BIM-basePath}LGA/main.jpg");
}
.p2{
  cursor: pointer;
  width: 100%;
  height:100%;
  border-radius: 2px;
  background-image: url("#{$BIM-basePath}LGA/const1.jpg");
}
.p3{
  cursor: pointer;
  width: 100%;
  height:100%;
  border-radius: 5px;
  background-image: url("#{$BIM-basePath}LGA/const2.jpg");
}
.p4{
  cursor: pointer;
  width: 100%;
  height:100%;
  border-radius: 2px;
  background-image: url("#{$BIM-basePath}LGA/CHRP.jpg");
}
.p5{
  cursor: pointer;
  width: 100%;
  height:100%;
  border-radius: 2px;
  background-image: url("#{$BIM-basePath}LGA/CHRP2.jpg");
}

